@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kranky&display=swap");
.events-container {
	margin-top: -10vh;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.events h1 {
	font-family: "Kranky", serif;
	font-weight: 400;
	font-size: 70px;
	font-style: normal;
}
.events-container .card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
	width: 50vw;
	padding: 5vw;
}
