@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kranky&display=swap");

.Locations {
	padding: 0px 15vw;
}
.map-container {
	border: 15px black groove;
	height: 70vh;
	width: 98%;
	margin-bottom: 1vh;
}
.learnmore {
	text-decoration: underline;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size: 30px;
	font-style: normal;
}
.info-cards-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 10vh;
}

@media screen and (max-width: 1250px) {
	.Locations {
		margin-top: 30px;
	}
}
