@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kranky&display=swap");
.NavComponent {
	background-color: black;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 15rem;
	box-sizing: border-box;
	z-index: 9999;

	.Logo {
		.nav-link {
			img {
				width: 75x;
				height: 75px;
				border-radius: 100%;
			}
		}
	}

	.nav-links {
		.nav-link {
			color: white;
			text-decoration: none;
			font-family: "Inter", sans-serif;
			font-optical-sizing: auto;
			font-weight: 400;
			font-size: 35px;
			font-style: normal;

			&:hover {
				color: rgb(120, 120, 120);
			}
		}
		display: flex;
		gap: 5rem;
	}
}
